---
import { getCollection } from 'astro:content';
import type { PaginateFunction } from 'astro';
import { SITE_TITLE } from '../../consts';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Tag from '../../components/Tag.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { Image } from '@unpic/astro';
import PostCard from '../../components/PostCard.astro';
import BlogIntro from '../../components/BlogIntro.astro';
import BlogNavigation from '../../components/BlogNavigation.astro';

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );

  return paginate(posts, { pageSize: 10 });
}
const { page } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE} | Blog`}
      description="Things I'm thinking about..."
    />
  </head>
  <body>
    <main class="md:max-w-2xl lg:max-w-3xl mx-auto px-4 md:px-6">
      <Header />
      <section>
        <BlogIntro />
        <BlogNavigation
          currentPage={page.currentPage}
          lastPage={page.lastPage}
        />
        <ul class="space-y-4">
          {
            page.data.map((post) => (
              <li class="py-4 rounded-lg border border-gray-200 p-4 shadow-md">
                <a href={`/blog/${post.id}`}>
                  <PostCard post={post} />
                </a>
              </li>
            ))
          }
        </ul>
        <div class="flex gap-6 justify-center mt-8 text-base">
          {
            page.url.first && (
              <a
                href={page.url.first}
                class="text-gray-600 hover:text-gray-900 hover:underline flex items-center gap-1"
              >
                <span class="text-xl">⏮️</span>
              </a>
            )
          }
          {
            page.url.prev && (
              <a
                href={page.url.prev}
                class="text-gray-600 hover:text-gray-900 hover:underline flex items-center gap-1"
              >
                <span class="text-xl">◀️</span>
              </a>
            )
          }
          {
            page.url.next && (
              <a
                href={page.url.next}
                class="text-gray-600 hover:text-gray-900 hover:underline flex items-center gap-1"
              >
                <span class="text-xl">▶️</span>
              </a>
            )
          }
          {
            page.url.last && (
              <a
                href={page.url.last}
                class="text-gray-600 hover:text-gray-900 hover:underline flex items-center gap-1"
              >
                <span class="text-xl">⏭️</span>
              </a>
            )
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
